* {
    box-sizing: border-box;
}

body {
    display: grid;
    overflow: hidden;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    grid-template-columns: 700px auto;
    grid-template-rows: 200px auto 500px;
    grid-template-areas:  
    "title title"
    "tutorials homework"
    "inspo inspo";
}
header {
    grid-area: title;
    background-color: #FFD4D4;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 95px;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 45px;
    margin: 20px;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}
main {
    grid-area: tutorials;
    color: #D1345B;
    padding: 20px;
}

aside {
    grid-area: homework;
    align-items: flex-start;
    color: #D1345B;
    padding: 20px;
}

main, aside {
    display: flex;
    justify-content: center;
}


footer {
    grid-area: inspo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD4D4;
    background-color: #D1345B;
}
.photo-section1 {
    display: flex;
    width: 25%;
    flex-direction: column;

}

#inspiration {
    align-items: center;
    justify-content: center;
}

.photo-section1 img {
    width: 100%;
    height: 250px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.photo-section2 {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.photo-section2 img {
    width: 100%;
    height: 250px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}